body {
    --primary: #631d76;
    --secondary: #9e4770;
    --white: #fbfbfb;
    --dark: #2e2532;
    --black: #201a23;
    --red: #c4181e;
}

.navbar {
    background-color: var(--primary);
}

.navbar .social {
    margin: 0;
    padding: 0;
}

.navbar ul.social > li {
    display: inline-block;
}

ul.social li{
    margin-right: 20px;
    text-decoration: none;
}

ul.social li a {
    color: var(--white);
    text-decoration: none;
}

.banner img {
    object-fit: cover;
}

.bi{
    padding-right: 5px;
}
.btn-danger .bi {
    padding: 0;
}

.form-text {
    color: var(--red);
}

th, tr, td {
    font-size: 1rem;
    color: var(--black);
    font-weight: normal;
}

.card {
    height: 100%;
}

.img-fluid {
    margin: 1rem auto;
}

.card-footer button {
    text-decoration: none;
}


.cart h3 {
    font-weight: 700;
    color: var(--secondary);
    font-size: 1.5rem;
}

#cart .cart-item {
    margin-bottom: 10px;
    padding: 20px;
}

.product-card .card-footer {
    justify-content: center;
}

.product-card .card-footer form {
    display: block;
    width: 100%;
}

.admin>div.container {
    margin: 40px 10%;
}

.admin .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin table {
    width: 100%;
}

.admin table th:first-of-type {
    width: 50%;
}

.admin table td:first-of-type {
    width: 50%;
}

.admin table td {
    vertical-align: middle;
}

.product-card .card-footer button {
    border: none;
    width: 100%;
    height: 50px;
}

.product-card .card-footer button i {
    margin-right: 10px;
}

#cart .cart-item h3 {
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    position: relative;
}

.quantity:before {
    content: '#';
    position: absolute;
    z-index: 10;
    top: 0;
    right: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
    color: gray;
}

.cart-right .field {
    margin-bottom: 0 !important;
}

.price {
    margin: 0 20px;
}

.cart-right {
    display: flex;
    align-items: center;
}