body {
    --primary: #631d76;
    --secondary: #9e4770;
    --white: #fbfbfb;
    --dark: #2e2532;
    --black: #201a23;
    --red: #c4181e;
}

.navbar {
    background-color: var(--primary);
}

.navbar .social {
    margin: 0;
    padding: 0;
}

.navbar ul.social > li {
    display: inline-block;
}

ul.social li{
    margin-right: 20px;
    text-decoration: none;
}

ul.social li a {
    color: var(--white);
    text-decoration: none;
}

.banner img {
    object-fit: cover;
}

.bi{
    padding-right: 5px;
}
.btn-danger .bi {
    padding: 0;
}

.form-text {
    color: var(--red);
}

th, tr, td {
    font-size: 1rem;
    color: var(--black);
    font-weight: normal;
}

.card {
    height: 100%;
}

.img-fluid {
    margin: 1rem auto;
}

.card-footer button {
    text-decoration: none;
}

.cart h3 {
    font-weight: 700;
    color: var(--secondary);
    font-size: 1.5rem;
}
